html { -webkit-box-sizing: border-box; box-sizing: border-box; }
*, *::before, *::after { -webkit-box-sizing: inherit; box-sizing: inherit; }

body {
    background-color: #FAFAFA;
    width: 1160px;
}

.mainpart {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 32px;
position: absolute;
width: 759px;
height: 252px;
left: 448px;
top: 474px;
}

.mainparttext {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;
width: 759px;
height: 184px;
}

.social {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 140px;
height: 36px;
}

.header {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 40px 0px 20px;

position: absolute;
width: 1160px;
top: 0px;
left: calc(50% - 1160px/2);
background: #FAFAFA;
}

.randomclass {
display: flex;
align-items: center;
padding: 0px;
gap: 48px;
height: 24px;
}

.randomclass a {text-decoration: none;}

.header-wrapper {
width: 100%;
}

.bold-20 {
font-family: 'Golos Text VF';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.05em;
color: black;
}

.regular-20 {
font-family: 'Golos Text VF';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
letter-spacing: 0.03em;
color: #252525;
}

.bold-48 {
font-family: 'Golos Text VF';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 50px;
letter-spacing: 0.04em;
color: #252525;
}
